{% load static i18n dictionary %}

<div class="form-group justify-content-left">
    {% if field.field.widget.input_type == 'text' %}

        {# ---------- #}
        {# Char Field #}
        {# ---------- #}
        {{field.label_tag}}
        <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="text" class="form-control" value="{{ field.value }}" maxlength="{{field.field.widget.attrs|get_item:'maxlength'}}" {% if field.field.required %}required{%endif%}>

    {% elif field.field.widget.input_type == 'number' %}

        {# ------------- #}
        {# Integer Field #}
        {# ------------- #}
        {{field.label_tag}}
        <input id="{{ field.id_for_label }}" name="{{ field.name }}" type="number" class="form-control" value="{{ field.value }}" {% if field.field.required %}required{%endif%}>

    {% elif field.field.widget.input_type == 'select' %}

        {# ------------ #}
        {# Choice Field #}
        {# ------------ #}
        {{field.label_tag}}
        <div>
            {{ field }}
        </div>
    {% elif field.field.widget.input_type == 'checkbox' %}

        {# ------------- #}
        {# Boolean field #}
        {# ------------- #}
        <div class="row">
            <label for="{{ field.id_for_label }}" class="col control-label">{{field.label}}:</label>
            <div class="col">{{ field }}</div>
        </div>

    {% else %}

        {# ------------ #}
        {# Other fields #}
        {# ------------ #}
        <div>
            {{ field }}
        </div>

    {% endif %}
    {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
    <ul>
        {% for key, value in errors.items %}
            {% if key == field.name %}
                {% for error in errors|get_item:key %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
