{% if messages %}
<ul class="messages">
    {% for message in messages %}

        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-warning {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-danger {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% else %}
            <div class="alert alert-secondary {{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}