{% load static i18n %}

<!DOCTYPE html>
<html>

<head>
    <title>Roving Surface Extractor</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="icon" href="{% static 'roving_surface_extractor/images/favicon.png' %}">
</head>

<body>

    <div class="container" style="height:100%;">
        {# ----------------- #}
        {# Navbar with image #}
        {# ----------------- #}
        <div class="row">
            <a class="navbar-brand img-fluid justify-content-center" href="https://www.sfbtrr280.de/en/research/projekt-area-d/subproject-d03/">
                <img class="img-fluid" src="{% static 'roving_surface_extractor/images/sfbtrr280/sfb_trr_280_img_navbar_big.png' %}" alt="tp_d03">
            </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-2 justify-content-center">

                {# --------------- #}
                {# Left navigation #}
                {# --------------- #}
                <div style="height:100%;background:#212529;">
                    <nav class="navbar navbar-dark bg-dark justify-content-center">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% if current_view == 'logs' %} active {% endif %}" href="{% url 'roving_surface_extractor:logs' %}">
                                    Old Logs
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if current_view == 'monitor' %} active {% endif %}" href="{% url 'roving_surface_extractor:monitor' '-1' %}">
                                    Monitor
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if current_view == 'parameter_input' %} active {% endif %}" href="{% url 'roving_surface_extractor:parameter_input' %}">
                                    Parameter Input
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>
            </div>

            {# -------------- #}
            {# Main container #}
            {# -------------- #}
            <div class="col-10 justify-content-left">
                <main class="container-main">
                    {% include "_messages.html" %}
                    {% block content %}
                    {% endblock content %}
                </main>

                {% block content_block %}
                    <!-- Content here -->
                {% endblock content_block %}

            </div>
        </div>
    </div>
    {% block additional_scripts %}

    {# ------------ #}
    {# Scripts here #}
    {# ------------ #}

    {% endblock additional_scripts %}

</body>

</html>