{% extends "roving_surface_extractor/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}

{% for log in logs %}
    <div class="col mb-1 text-center">
        <a class="btn btn-secondary btn-block" role="button" href="{% url 'roving_surface_extractor:monitor' log.pk %}" style="width: 100%;">
            Log: {{ log.process_start_datetime|date:"d.m.y., G:i:s" }}
        </a>
    </div>
{% endfor %}

{% endblock content_block %}
