{% extends "roving_surface_extractor/base.html" %}
{% load static i18n %}

{% block content_block %}
<div class="container">
    <div class="row justify-content-left">
        <textarea rows="30" id="log_data" disabled></textarea>
    </div>

    <div class="row justify-content-right">
        <button id="js-refresh-button" type="button" class="btn btn-secondary" onClick="window.location.reload();">Refresh</button>
        <button id="js-kill-button" type="button" class="btn btn-danger" {% if not process_is_active %}disabled{% endif %}>Kill process</button>
    </div>

</div>
{% endblock content_block %}

{% block additional_scripts %}
    <p class="js-data-holder"
            data-log_text="{{ log_text }}"
            data-post_kill_url="{{ post_kill_url }}"
    ></p>
    <script src="{% static 'roving_surface_extractor/js/monitor.js' %}"></script>
{% endblock additional_scripts %}
