{% extends "roving_surface_extractor/base.html" %}
{% load static i18n dictionary %}

{% block content_block %}

<form id="run_extraction_form" method="post">
    {% csrf_token %}

    <p class="h4">Set your parameters</p>
    <hr class="bg-secondary border-2 border-top border-secondary">
    {% for form_field in form %}

        {# ---------------- #}
        {# Collapse opening #}
        {# ---------------- #}

        {% if form_field.name == 'network' %}
            <hr class="bg-secondary border-2 border-top border-secondary">
            <button class="btn btn-secondary"
                    style="width:100%;"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSegParameters"
                    aria-expanded="{% if form.errors %}true{% else %}false{% endif %}"
                    aria-controls="collapseSegParameters">
                Show CNN parameters
            </button>
            <div class="collapse{% if form.errors %} show{% endif %}" id="collapseSegParameters">
                <div class="card card-body">
                    <small>
                        The parameters are calculated so that your chosen device uses the maximum available Ram/VRam.
                        The chosen config is conservative. It might be possible, that you can increase the batch size by
                        one. You can try to get the best config for yourself.
                        However, ensure that the input size and depth is not larger than your volume.
                    </small>

        {% endif %}
        {% if form_field.name == 'skip_postprocessing' %}
            <hr class="bg-danger border-2 border-top border-secondary">
            <p class="h5">Postprocessing parameters</p>
        {% endif %}

        {# -------- #}
        {# Sub rows #}
        {# -------- #}

        {% if form_field.name in 'input_size batch_size max_labels_to_check' %}
            <div class="row">
        {% endif %}

        {% if form_field.name in 'input_size depth_3d overlap batch_size device color_space max_labels_to_check' %}
            <div class="col-sm">
        {% endif %}

        {# ------------- #}
        {# Actual Fields #}
        {# ------------- #}

        {% include '_form_field_simple.html' with field=form_field errors=form.errors%}

        {# --------------- #}
        {# Sub row closing #}
        {# --------------- #}

        {% if form_field.name in 'input_size depth_3d overlap batch_size device color_space max_labels_to_check' %}
            </div>
        {% endif %}
        {% if form_field.name in 'overlap color_space max_labels_to_check' %}
            </div>
        {% endif %}

        {# ---------------- #}
        {# Collapse Closing #}
        {# ---------------- #}

        {% if form_field.name in 'color_space' %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class='row justify-content-center'>
        <div class="col mb-1">
            <button class="btn btn-success" style="width:100%;" type="submit" {% if process_is_running %} disabled {% endif %}>
                Run
            </button>
        </div>
        {% if process_is_running %}
        <div class="col">
            <button class="btn btn-danger" style="width:100%;" type="submit">
                Kill current process and start new!
            </button>
        </div>
        {% endif %}
    </div>
</form>

{% endblock content_block %}
